In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as Func 
from pyspark.sql.functions import *

In [4]:
spark = SparkSession.builder.master("local").\
    appName("CNPJ_bronze").\
        config("spark.executer.memory","1gb").\
            getOrCreate()

In [9]:
path = "/media/douglas/DATA/PRJ_CNPJ/new_data/ETL/02.Bronze/*.parquet"

In [10]:
df = spark.read.format("parquet")\
    .option("delimiter",";")\
        .option("enconding","ISO-8859-1")\
            .option("header","False")\
                .option("inferSchame","True")\
                    .load(path)

In [16]:
df.schema

StructType(List(StructField(CNPJ_basico,StringType,true),StructField(id_matriz_filial,StringType,true),StructField(nome_fantasia,StringType,true),StructField(sit_cad,StringType,true),StructField(dt_cad,StringType,true),StructField(mt_sit_cad,StringType,true),StructField(dt_inicio_at,StringType,true),StructField(cnae_principal,StringType,true),StructField(cnae_secundario,StringType,true),StructField(tp_log,StringType,true),StructField(log,StringType,true),StructField(nm,StringType,true),StructField(comp,StringType,true),StructField(bairro,StringType,true),StructField(CEP,StringType,true),StructField(UF,StringType,true),StructField(municipio,StringType,true)))

In [14]:
select_cervejarias = df.filter(Func.col("cnae_principal")==1113502).orderBy(Func.col("dt_inicio_at").desc)

TypeError: Invalid argument, not a string or column: <bound method _unary_op.<locals>._ of Column<'dt_inicio_at'>> of type <class 'method'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [12]:
select_cervejarias.count()

3418

In [13]:
select_cervejarias.show()

+-----------+----------------+--------------------+-------+--------+----------+------------+--------------+--------------------+-------+--------------------+------+--------------------+--------------------+--------+---+---------+
|CNPJ_basico|id_matriz_filial|       nome_fantasia|sit_cad|  dt_cad|mt_sit_cad|dt_inicio_at|cnae_principal|     cnae_secundario| tp_log|                 log|    nm|                comp|              bairro|     CEP| UF|municipio|
+-----------+----------------+--------------------+-------+--------+----------+------------+--------------+--------------------+-------+--------------------+------+--------------------+--------------------+--------+---+---------+
|   35962701|               1|                null|     02|20200110|        00|    20200110|       1113502|4723700,4789001,7...|    RUA|   RAUL SANTOS SILVA|    60|                null|JARDIM ROBERTO BE...|14098230| SP|     6969|
|   44222402|               1|        VON DER BEER|     02|20211112|        00|    20211112|       1113502|1113501,4712100,4...|    RUA|BENTO CLARINDO BA...|  1568|             SALA  A|            SAO JOAO|64045120| PI|     1219|
|   44380284|               1|  CERVEJARIA ZERALTA|     02|20211125|        00|    20211125|       1113502|     4635402,4723700|    RUA|    FLORIANO PEIXOTO|   168|                null|              CENTRO|35700048| MG|     5343|
|   44438618|               1|MALTADORA CERVEJARIA|     02|20211201|        00|    20211201|       1113502|     4723700,5611205|    RUA|        SANTO INACIO|   706|                null|              CENTRO|83324080| PR|     5453|
|   44463134|               1| CONTAINER FABRICA 1|     02|20211202|        00|    20211202|       1113502|4723700,5611201,5...|AVENIDA|PADRE NELSON ANTO...|  1163|QUADRA39         ...|          NOVA MATAO|15990590| SP|     6687|
|   44593011|               1|                null|     02|20211215|        00|    20211215|       1113502|1112700,4635499,4...|    RUA|  WALTER ALDO FERLIN|   966|                null|PARQUE SAO SEBASTIAO|14093410| SP|     6969|
|   44731163|               1|            BIERHEAD|     02|20220104|        00|    20220104|       1113502|     4723700,4781400|AVENIDA|        SILVA JARDIM|  1154|                null|            REBOUCAS|80230000| PR|     7535|
|   00001368|               1|ARRANHA-SERRA BRE...|     02|20051103|        00|    19940506|       1113502|4635402,4723700,5...|    RUA|FERNANDO PRESTES ...|   190|                null|          SANTA INES|07729505| SP|     6281|
|   82206004|               2|                null|     02|       0|        00|    20050509|       1113502|                null|    RUA|                  LW|   S/N|QUADRA 10, LOTES ...|              AREIAS|88101000| SC|     8327|
|   00066130|               1|                null|     02|20051103|        00|    19940512|       1113502|4723700,4781400,5...|AVENIDA|       TULIO DE ROSE|    80|      CONJUNTO 314-C|       PASSO D'AREIA|91340110| RS|     8801|
|   03485089|               1|COMPANHIA NORTE P...|     02|20010225|        00|    19991103|       1113502|1111901,1111902,1...|AVENIDA|PREFEITO WILSON R...|  6000|     KM    63 PR 445|CONJUNTO HABITACI...|86044768| PR|     7667|
|   03714860|               1|                null|     02|20051103|        00|    20000320|       1113502|4635402,4721104,4...|    RUA|           PROJETADA|    SN|                null|     LINHA SAO PAULO|89820000| SC|     8383|
|   05438567|               1|                null|     02|20050604|        00|    20021218|       1113502|                null|    RUA|       BR 386 KM 410|   S/N|                null|            VENDINHA|95840000| RS|     8943|
|   05488757|               1|                null|     02|20030115|        00|    20030115|       1113502|                null|   null|       RUA GAMBRIUNS|2 - 10|                   0|          LA CORUNHA|    null| EX|     9707|
|   00707648|               1|                null|     04|20181212|        63|    19950719|       1113502|                null|   null|       BR 153 KM 651|   S/N|                null|DIST AGRO INDUSTRIAL|77453000| TO|     0327|
|   04430717|               2|                null|     08|20100602|        02|    20020716|       1113502|                null|AVENIDA|COLARES MOREIRA, ...|   S/N|LOTEAMENTO B. ESP...|       RENASCENCA II|65075820| MA|     0921|
|   05766005|               2|DISTRIBUIDORA COL...|     02|20041228|        00|    20041228|       1113502|                null|    RUA|SERGIO JUNGBLUT D...|   756|            PAVLH 04|             SARANDI|91060410| RS|     8801|
|   05766005|               2|DISTRIBUIDORA COL...|     08|20070504|        01|    20041228|       1113502|                null|    RUA|        DOM PEDRO II|   245|                null|            SAO JOSE|95032240| RS|     8599|
|   05887509|               1|                null|     08|20060323|        01|    20030905|       1113502|                null|ESTACAO|              GUEDES|   S/N|              GUEDES|              GUEDES|13910001| SP|     6595|
|   19900000|               2|                null|     08|20070117|        01|    20031210|       1113502|                null|AVENIDA|TORQUATO DA SILVA...|   292|                null|           SAO DIMAS|13416210| SP|     6875|
+-----------+----------------+--------------------+-------+--------+----------+------------+--------------+--------------------+-------+--------------------+------+--------------------+--------------------+--------+---+---------+
only showing top 20 rows